<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @program_model.name %>
</p>

<%= link_to 'Edit', edit_program_model_path(@program_model) %> |
<%= link_to 'Back', program_models_path %>
